<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>University</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="img/favicon.png" rel="icon"/>
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon"/>
</head>

<body #pageTop id="page-top">

<nav #navbar [ngClass]="{'navbar-reduce': isScrolled, 'navbar-trans': !isScrolled}"
     class="navbar navbar-b navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand " (click)="scrollToTop()">University</a>
        <button (click)="reduceNavbar()" [ngClass]="{'collapsed': !navbarExpanded}" class="navbar-toggler" type="button"
                aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-collapse justify-content-end collapse" [ngClass]="{'show': navbarExpanded}">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentActive == 1}" (click)="scrollTo(1)">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [ngClass]="{'active': currentActive == 2}" (click)="scrollTo(2)">About</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link " [ngClass]="{'active': currentActive == 3}" (click)="scrollTo(3)">Services</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link " [ngClass]="{'active': currentActive == 3}" (click)="scrollTo(3)">Work</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div #home id="home" class="intro route bg-image"
     style="background-image: url(https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <university-intro></university-intro>
            </div>
        </div>
    </div>
</div>


<section #about id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <university-about></university-about>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <section #services id="service" class="services-mf route">
    <div class="container">
        <university-assistance></university-assistance>
    </div>
</section> -->


<section #work id="work" class="blog-mf sect-pt4 route">
    <div class="container">
        <university-work></university-work>
    </div>
</section>


<university-footer></university-footer>

<!--============================================================================
COMMENT ALL ABOVE SECTIONS TO VIEW UNIVERSITY ARTICLE SECTION
==============================================================================-->


<!-- <div class="intro intro-single route bg-image"
  style="background-image: url(https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="intro-title mb-4">Article Details</h2>
        <ol class="breadcrumb d-flex justify-content-center">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active">Article</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<section class="article-wrapper sect-pt4" id="article">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <university-article></university-article>
      </div>
    </div>
  </div>
</section>
<section class="work-footer paralax-mf footer-paralax bg-image sect-mt4 route"
  style="background-image: url(https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
  <div class="overlay-mf"></div>
  <university-footer></university-footer>
</section> -->


<a (click)="scrollToTop()" [ngClass]="{'show': isScrolled, 'step': !isScrolled}" class="back-to-top" #backToTop><i
        class="fa fa-chevron-up"></i></a>
<div #preloader id="preloader"></div>


</body>

</html>
