<span>{{ name }}</span> <span class="pull-right">{{ percent }}%</span>
<div class="progress">
  <div 
  class="progress-bar" role="progressbar"
  [ngStyle]="{'width': percent + '%'}"
  [attr.aria-valuenow]="percent" aria-valuemin="0"
  aria-valuemax="100"></div>
</div>