.progress {
    background-color: #faded3;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
  }
  
.progress .progress-bar {
    height: .7rem;
    background-color: #f0642d;
  }
  