<div class="row">
    <div class="col-sm-3 col-lg-3">
        <div class="counter-box">
            <div class="counter-ico">
                <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
                <p class="counter">450</p>
                <span class="counter-text">WORKS COMPLETED</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3">
        <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
                <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
            </div>
            <div class="counter-num">
                <p class="counter">15</p>
                <span class="counter-text">YEARS OF EXPERIENCE</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3">
        <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
                <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
                <p class="counter">550</p>
                <span class="counter-text">TOTAL CLIENTS</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-lg-3">
        <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
                <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
            </div>
            <div class="counter-num">
                <p class="counter">36</p>
                <span class="counter-text">AWARD WON</span>
            </div>
        </div>
    </div>
</div>
