 
    <h1 class="intro-title mb-4" *ngIf="intro; else elseTemplate">I am {{ intro.dev_name }}</h1>
    <p class="intro-subtitle">
        <strong class="text-slider" #textSlider></strong>
    </p>
    <p class="pt-3">
        <a class="btn btn-primary btn js-scroll px-4" href="javascript:void()" role="button">Learn More</a>
    </p>
<ng-template #elseTemplate>
    <p class="text-danger">Sorry, I was unable to fetch data from API Server. :( </p>
</ng-template>