<div class="row five-line-container">
  <div class="col-sm-6">{{title}}</div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-1" *ngFor="let i of [1,2,3,4,5]">
        <i class="{{get_icon_by_index_count(i)}}"></i>
      </div>
    </div>
  </div>


</div>
