.five-line-container {

  font-weight: 700;
  max-width: 350px;
  margin: 2px 0 2px 0;
  height: 25px;
  overflow-y: hidden;

  :first-child {
    white-space: nowrap;
    padding-left:0px;
  }

  i {
    color: #71CCD3;
    font-weight: 600;
  }
}
