<div class="intro intro-single route bg-image"
  style="background-image: url(https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <h2 class="intro-title mb-4">Article Details</h2>
        <ol class="breadcrumb d-flex justify-content-center">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active">Article</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<section class="article-wrapper sect-pt4" id="article">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="post-box">
          <div class="post-thumb">
            <img
              src="https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
              class="img-fluid" alt="">
          </div>
          <div class="post-meta">
            <h1 class="article-title">{{work.title}}</h1>
            <ul>
              <li>
                <span class="ion-ios-person"></span>
                <a href="#">{{work.author}}</a>
              </li>
              <li>
                <span class="ion-pricetag"></span>
                <a href="#">{{work.tag}}</a>
              </li>
            </ul>
          </div>
          <div class="article-content">
            <div *ngFor="let item of work.content">
              <p *ngIf="item.p">{{item.p}}</p>
              <blockquote *ngIf="item.bq" class="blockquote">
                <p class="mb-0">{{item.bq}}</p>
              </blockquote>
              <div *ngIf="item.code" class="line-numbers">
                <p>{{ item.code.title }}</p>
                <pre><code class="language-{{ item.code.language }}">{{ item.code.content }}</code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="paralax-mf footer-paralax bg-image sect-mt4 route"
  style="background-image: url(https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
  <div class="overlay-mf"></div>
  <university-footer></university-footer>
</section>
