.post-box,
.form-comments,
.box-comments,
.widget-sidebar {
  padding: 2rem;
  background-color: #fff;
  margin-bottom: 3rem;
}

.article-wrapper .article-title {
  font-size: 1.5rem;
}

.article-wrapper .post-meta {
  margin: 1rem 0;
}

.article-wrapper .post-meta ul {
  border-left: 4px solid #f0642d;
  margin-top: 1rem;
}

.article-wrapper .post-meta ul li {
  display: inline-block;
  margin-left: 15px;
}

.article-wrapper .post-meta ul a {
  color: #f0642d;
}

.article-wrapper .post-meta ul span {
  color: #1e1e1e;
}

.article-wrapper .blockquote {
  border-left: 4px solid #f0642d;
  padding: 18px;
  font-style: italic;
}
