<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="copyright-box">
          <p class="copyright">&copy; Copyright <strong>PhreaksBeFree</strong>. All Rights Reserved</p>
          <div class="credits">
            Designed by <a href="#">PhreaksBeFree</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>