<div class="row">
    <div class="col-sm-12">
        <div class="title-box text-center">
            <h3 class="title-a">
                Services
            </h3>
            <p class="subtitle-a">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="line-mf"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="service-box">
            <div class="service-ico">
                <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
                <h2 class="s-title">Web Design</h2>
                <p class="s-description text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat!
                    Quia,
                    provident vitae! Magni
                    tempora perferendis eum non provident.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-md-4">
    <div class="service-box">
      <div class="service-ico">
        <span class="ico-circle"><i class="ion-code-working"></i></span>
      </div>
      <div class="service-content">
        <h2 class="s-title">Web Development</h2>
        <p class="s-description text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
          provident vitae! Magni
          tempora perferendis eum non provident.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="service-box">
      <div class="service-ico">
        <span class="ico-circle"><i class="ion-camera"></i></span>
      </div>
      <div class="service-content">
        <h2 class="s-title">Photography</h2>
        <p class="s-description text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
          provident vitae! Magni
          tempora perferendis eum non provident.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="service-box">
      <div class="service-ico">
        <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
      </div>
      <div class="service-content">
        <h2 class="s-title">Responsive Design</h2>
        <p class="s-description text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
          provident vitae! Magni
          tempora perferendis eum non provident.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="service-box">
      <div class="service-ico">
        <span class="ico-circle"><i class="ion-paintbrush"></i></span>
      </div>
      <div class="service-content">
        <h2 class="s-title">Graphic Design</h2>
        <p class="s-description text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
          provident vitae! Magni
          tempora perferendis eum non provident.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="service-box">
      <div class="service-ico">
        <span class="ico-circle"><i class="ion-stats-bars"></i></span>
      </div>
      <div class="service-content">
        <h2 class="s-title">Marketing Services</h2>
        <p class="s-description text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
          provident vitae! Magni
          tempora perferendis eum non provident.
        </p>
      </div>
    </div>
  </div> -->
<!-- </div> -->
