<div class="row" *ngIf="about; else elseTemplate">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <div class="about-img">
                    <img style="width: 150px;" src="{{about.dev_picture_url}}" class="img-fluid rounded b-shadow-a"
                        alt="">
                </div>
            </div>
            <div class="col-sm-6 col-md-7">
                <div class="about-info">
                    <p><span class="title-s">Name: </span> <span>{{about.dev_name}}</span></p>
                    <p><span class="title-s">Profile: </span> <span>{{about.profile}}</span></p>
                    <p><span class="title-s">Email: </span> <span>{{about.email}}</span></p>
                    <p><span class="title-s">Phone: </span> <span>{{about.phone}}</span></p>
                </div>
            </div>
        </div>
        <div class="skill-mf">
            <p class="title-s">Skill</p>
            <span>HTML</span> <span class="pull-right">{{about.skills.html}}%</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': about.skills.html + '%'}"
                    [attr.aria-valuenow]="about.skills.html" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span>CSS3</span> <span class="pull-right">{{about.skills.css}}%</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': about.skills.css + '%'}"
                    [attr.aria-valuenow]="about.skills.css" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span>PHP</span> <span class="pull-right">{{about.skills.php}}%</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': about.skills.php + '%'}"
                    [attr.aria-valuenow]="about.skills.php" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span>JAVASCRIPT</span> <span class="pull-right">{{about.skills.javascript}}%</span>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': about.skills.html + '%'}"
                    [attr.aria-valuenow]="about.skills.html" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="about-me pt-4 pt-md-0">
            <div class="title-box-2">
                <h5 class="title-left">
                    About me
                </h5>
            </div>
            <div [innerHTML]="about.description"></div>
        </div>
    </div>
</div>
<ng-template #elseTemplate>
                        <p>Sorry, I was unable to load this section's data from <strong>API server</strong>. :(</p>
</ng-template>
