<div class="post-box">
  <div class="post-thumb">
    <img
      src="https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
      class="img-fluid" alt="">
  </div>
  <div class="post-meta">
    <h1 class="article-title">{{work.title}}</h1>
    <ul>
      <li>
        <span class="ion-ios-person"></span>
        <a href="#">{{work.author}}</a>
      </li>
      <li>
        <span class="ion-pricetag"></span>
        <a href="#">{{work.tag}}</a>
      </li>
    </ul>
  </div>
  <div class="article-content">
    <div *ngFor="let item of work.content">
      <p *ngIf="item.p">{{item.p}}</p>
      <blockquote *ngIf="item.bq" class="blockquote">
        <p class="mb-0">{{item.bq}}</p>
      </blockquote>
      <div *ngIf="item.code" class="line-numbers">
        <p>{{ item.code.title }}</p>
        <pre><code class="language-{{ item.code.language }}">{{ item.code.content }}</code></pre>
      </div>
    </div>
  </div>
</div>