<div class="row">
    <div class="col-sm-12">
        <div class="title-box text-center">
            <h3 class="title-a">
                Projects
            </h3>
            <div class="line-mf"></div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card card-work">
            <div class="card-body">
                <div class="card-category-box">
                    <div class="card-category">
                        <h6 class="category">Project Name</h6>
                    </div>
                </div>
                <h3 class="card-title"><a href="#">Ninja RPG</a></h3>
                <p class="card-description">
                    Project Description Here

                    This is what the project does
                </p>
                Listed Skills Used
                <ul>
                    <li>We used Javascript to build this...</li>
                </ul>
            </div>

            Display Via External URL
            <div class="card-img">
                <div class="project-iframe-container">
                    <iframe></iframe>
                    <div class="project-iframe-controls">
                        <button>Max Frame</button>
                        <button>Min Frame</button>
                    </div>
                </div>
            </div>
            Display Via Code Highlighter
            <div class="card-img">
                <div class="project-iframe-container">
                    High Light Code Display
                    - Language to display in
                    - Code to Display
                </div>
            </div>
        </div>
    </div>

</div>
